@import 'tailwindcss';

:root {
  --fa-animation-duration: 1s;
}

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
  --breakpoint-sm: 660px;
  --font-mono: 'IBM Plex Mono', monospace;
  --font-sans: system-ui, sans-serif;
  --font-serif:
    Charter, 'Bitstream Charter', Iowan Old Style, Apple Garamond, Baskerville,
    Times New Roman, Droid Serif, Times, Source Serif Pro, serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --color-light-foreground: var(--color-neutral-950);
  --color-light-background: var(--color-white);
  --color-light-muted-foreground: var(--color-neutral-600);
  --color-light-accent: var(--color-blue-700);
  --color-light-danger: var(--color-red-600);
  --color-dark-accent: var(--color-blue-300);
  --color-dark-foreground: var(--color-neutral-300);
  --color-dark-background: oklch(22% 0 0);
  --color-dark-muted-foreground: var(--color-neutral-400);
  --color-dark-danger: var(--color-red-400);
}

@layer base {
  html * {
    color-scheme: light;
  }

  .dark-mode,
  .dark-mode * {
    color-scheme: dark;
  }

  h1,
  h2 {
    @apply mb-2 text-lg font-bold;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-light-accent dark:text-dark-accent underline;
  }

  button {
    @apply cursor-pointer;
  }

  input[type='checkbox'] {
    @apply accent-light-accent dark:accent-dark-accent;
  }

  .page {
    input,
    textarea {
      @apply text-light-foreground dark:text-dark-foreground rounded-xs border border-neutral-600 bg-neutral-100 px-2 py-1 dark:border-zinc-600 dark:bg-zinc-800;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      @apply w-full;
    }

    select {
      @apply text-light-foreground dark:text-dark-foreground rounded-xs border border-neutral-600 bg-neutral-100 px-2 py-1 dark:border-zinc-600 dark:bg-zinc-800;
    }
  }

  .content-results {
    h3,
    h4 {
      @apply mb-4 font-bold;
    }

    table {
      @apply mb-4 w-full border-collapse;
    }

    th,
    td {
      @apply border-light-muted-foreground dark:border-dark-muted-foreground border px-1 py-1;
    }
  }
}

@layer components {
  .announcement {
    @apply my-6 rounded border border-slate-400 bg-slate-100 p-4 shadow *:last:mb-0 dark:border-neutral-600 dark:bg-zinc-800;
  }

  .button {
    @apply text-light-foreground enabled:hover:border-light-accent dark:text-dark-foreground border-light-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border px-3 py-2 text-base leading-[1em] enabled:hover:text-blue-600 disabled:opacity-50 dark:border-neutral-100 dark:enabled:hover:border-blue-300 dark:enabled:hover:text-blue-300;

    a& {
      @apply no-underline;
    }
  }

  .button-primary {
    @apply enabled:hover:border-light-accent dark:text-light-foreground border-light-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border bg-neutral-950 px-3 py-2 text-base leading-[1em] text-neutral-50 enabled:hover:bg-blue-600 disabled:opacity-50 dark:border-neutral-100 dark:bg-neutral-100 dark:enabled:hover:border-blue-300 dark:enabled:hover:bg-blue-300;

    a& {
      @apply no-underline;
    }
  }

  .button-icon {
    @apply enabled:hover:text-light-foreground enabled:hover:border-light-foreground text-light-muted-foreground dark:enabled:hover:text-dark-foreground dark:enabled:hover:border-dark-foreground dark:text-dark-muted-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border border-neutral-400 px-0.5 py-1 text-sm leading-[1em] dark:border-neutral-500;

    &.danger {
      @apply enabled:hover:border-light-danger enabled:hover:text-light-danger dark:enabled:hover:border-dark-danger dark:enabled:hover:text-dark-danger;
    }
  }

  .section-label {
    @apply cursor-pointer py-3 text-center text-sm tracking-wider uppercase;
  }

  .small-label {
    @apply text-light-muted-foreground dark:text-dark-muted-foreground text-xs italic;
  }

  .retry-bubble {
    @apply text-reverse bg-reverse shadow-sm;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5px;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 11px;
    white-space: nowrap;
    z-index: 1000;
  }

  .retry-arrow {
    @apply border-b-light-foreground dark:border-b-dark-foreground border-b-4;
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
  }
}

@utility text-reverse {
  @apply text-light-background dark:text-dark-background;
}

@utility bg-reverse {
  @apply bg-light-foreground dark:bg-dark-foreground;
}

/* -- Quill editor styles ----------------------------------- */

.ql-editor,
.ql-bubble .ql-editor {
  @apply overflow-visible p-2;

  & h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  & h2 {
    font-size: 1.25em;
    font-weight: bold;
  }

  & ul,
  & ol {
    padding-left: 0;
  }

  & li {
    margin-bottom: 0.5em;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: bold;
  }

  & a {
    @apply text-light-accent dark:text-dark-accent underline;
  }
}

.quill-editor.collapsed {
  position: relative;
  max-height: 50px;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      to bottom,
      transparent 75%,
      var(--color-neutral-100) 100%
    );
    pointer-events: none;
  }

  .dark-mode &::after {
    background: linear-gradient(
      to bottom,
      transparent 75%,
      var(--color-neutral-800) 100%
    );
  }
}

.ql-tooltip {
  z-index: 1;
}

.ql-close {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1;
}

.ql-container.ql-bubble:not(.ql-disabled) a:not(.ql-close) {
  &::before,
  &::after {
    display: none;
  }
}

/* -- Notyf toast styles ------------------------------------ */

.notyf__message {
  font-family: system-ui, sans-serif;
  font-size: 0.9rem;
  line-height: 1.3;
}
