@import 'tailwindcss';

@custom-variant dark (&:where(.dark-mode, .dark-mode *));

@theme {
  --breakpoint-sm: 660px;
  --font-mono: 'IBM Plex Mono', monospace;
  --color-light-foreground: var(--color-neutral-950);
  --color-light-background: var(--color-white);
  --color-light-muted-foreground: var(--color-neutral-600);
  --color-dark-muted-foreground: var(--color-neutral-300);
  --color-light-accent: var(--color-blue-700);
  --color-dark-accent: var(--color-blue-300);
  --color-dark-foreground: var(--color-neutral-200);
  --color-dark-background: var(--color-neutral-900);
}

@layer base {
  html * {
    color-scheme: light;
  }

  .dark-mode,
  .dark-mode * {
    color-scheme: dark;
  }

  h1,
  h2 {
    @apply mb-2 text-lg font-bold;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-light-accent dark:text-dark-accent underline;
  }

  button {
    @apply cursor-pointer;
  }

  .page {
    input,
    textarea {
      @apply text-light-foreground dark:text-dark-foreground rounded-xs border border-neutral-600 bg-neutral-100 px-2 py-1 dark:border-zinc-600 dark:bg-zinc-800;
    }

    input[type='text'],
    input[type='email'],
    input[type='password'] {
      @apply w-full;
    }

    select {
      @apply text-light-foreground dark:text-dark-foreground rounded-xs border border-neutral-600 bg-neutral-100 px-2 py-1 dark:border-zinc-600 dark:bg-zinc-800;
    }
  }
}

@layer components {
  .button {
    @apply text-light-foreground hover:border-light-accent dark:text-dark-foreground border-light-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border px-3 py-2 text-base leading-[1em] hover:text-blue-600 dark:border-neutral-100 dark:hover:border-blue-300 dark:hover:text-blue-300;

    a& {
      @apply no-underline;
    }
  }

  .button-primary {
    @apply hover:border-light-accent dark:text-light-foreground border-light-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border bg-neutral-950 px-3 py-2 text-base leading-[1em] text-neutral-50 hover:bg-blue-600 dark:border-neutral-100 dark:bg-neutral-100 dark:hover:border-blue-300 dark:hover:bg-blue-300;

    a& {
      @apply no-underline;
    }
  }

  .button-icon {
    @apply hover:text-light-foreground hover:border-light-foreground text-light-muted-foreground inline-flex cursor-pointer items-center justify-center rounded-xs border border-neutral-400 px-0.5 py-1 text-sm leading-[1em];
  }

  .section-label {
    @apply cursor-pointer py-3 text-center text-sm tracking-wider uppercase;
  }

  .small-label {
    @apply text-light-muted-foreground dark:text-dark-muted-foreground text-xs italic;
  }
}

@utility text-reverse {
  @apply text-light-background dark:text-dark-background;
}

@utility bg-reverse {
  @apply bg-light-foreground dark:bg-dark-foreground;
}

.ql-editor,
.ql-bubble .ql-editor {
  @apply overflow-visible p-2;

  & h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  & h2 {
    font-size: 1.25em;
    font-weight: bold;
  }

  & ul,
  & ol {
    padding-left: 0;
  }

  & li {
    margin-bottom: 0.5em;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: bold;
  }

  & a {
    @apply text-light-accent dark:text-dark-accent underline;
  }
}

.quill-editor.collapsed {
  position: relative;
  max-height: 50px;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      to bottom,
      transparent 75%,
      var(--color-neutral-100) 100%
    );
    pointer-events: none;
  }
}

.ql-tooltip {
  z-index: 1;
}

.ql-close {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1;
}
