@import 'tailwindcss';

@theme {
  --breakpoint-sm: 660px;
  --font-mono: 'IBM Plex Mono', monospace;
}

@layer components {
  .button {
    @apply inline-flex cursor-pointer items-center justify-center rounded-xs border border-neutral-950 px-3 py-2 text-base leading-[1em] text-neutral-950 hover:border-blue-600 hover:text-blue-600;
  }

  .button-primary {
    @apply inline-flex cursor-pointer items-center justify-center rounded-xs border border-neutral-950 bg-neutral-950 px-3 py-2 text-base leading-[1em] text-neutral-50 hover:border-blue-600 hover:bg-blue-600;
  }

  .button-icon {
    @apply inline-flex cursor-pointer items-center justify-center rounded-xs border border-neutral-400 px-0.5 py-1 text-sm leading-[1em] text-neutral-600 hover:border-neutral-950 hover:text-neutral-950;
  }

  .section-label {
    @apply cursor-pointer py-3 text-center text-sm tracking-wider uppercase;
  }

  .small-label {
    @apply text-xs text-neutral-500 italic;
  }
}

.ql-editor,
.ql-bubble .ql-editor {
  @apply overflow-visible p-2;

  & h1 {
    font-size: 1.5em;
    font-weight: bold;
  }

  & h2 {
    font-size: 1.25em;
    font-weight: bold;
  }

  & ul,
  & ol {
    padding-left: 0;
  }

  & li {
    margin-bottom: 0.5em;
  }

  & em {
    font-style: italic;
  }

  & strong {
    font-weight: bold;
  }

  & a {
    color: var(--color-blue-600);
    text-decoration: underline;
  }
}

.quill-editor.collapsed {
  position: relative;
  max-height: 50px;
  overflow: hidden;

  &:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    background: linear-gradient(
      to bottom,
      transparent 75%,
      var(--color-neutral-100) 100%
    );
    pointer-events: none;
  }
}

.ql-tooltip {
  z-index: 1;
}

.ql-close {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;
  line-height: 1;
}
