@mixin field-sizes() {
    @for $i from 0 through 50 {
        @if $i > 0 {
            .field.size-#{$i} {
                width: $i * 0.6em + 0.25em;
            }

            .field-number.size-#{$i} {
                width: $i * 0.6em + 1em;
            }
        } @else {
            .field.size-0 {
                width: 0.6em + 0.25em;
            }

            .field-number.size-0 {
                width: 0.6em + 1em;
            }
        }
    }
}

@mixin clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}