# Don’t put user data in the repo
data/*
!data/.htaccess

Thumbs.db
.project
.DS_Store
*.scssc
.sass-cache
*.map
*.sublime-project
*.sublime-workspace
bower_components
node_modules
build
vendor
._*
tmp
.env
.nova
/.nova/Configuration.json
