<include href="templates/header.html" />

<div class="container-center-center">
    <div class="inner">
        <form action="" method="POST">
            <label for="sheet-name" class="label block">What&rsquo;s your character&rsquo;s name?</label>
            <input type="text" class="field field-visible" id="sheet-name" name="sheet_name" autofocus><br>
            <button type="submit" class="button-primary">Create Sheet</button>
            <input type="hidden" name="csrf" value="{{ @CSRF }}">
        </form>
    </div>
</div>

<include href="templates/footer.html" />