<include href="templates/header.html" />

<div class="page mx-auto flex h-screen items-center justify-center p-4">
  <div class="w-full max-w-120">
    <form action="" method="POST">
      <label for="sheet-name" class="mb-xs block"
        >What&rsquo;s your character&rsquo;s name?</label
      >
      <input
        type="text"
        class="field field-visible size-full"
        id="sheet-name"
        name="sheet_name"
        autofocus
      />

      <div class="mt-2 mb-8">
        <label class="mb-1 block">D&D 5e Version:</label>
        <label for="is-2024" class="">
          <input type="radio" id="is-2024" name="is_2024" value="1" checked />
          2024 Edition
        </label>
        <label for="is-2014" class="">
          <input type="radio" id="is-2014" name="is_2024" value="0" /> 2014
          Edition
        </label>
      </div>

      <button type="submit" class="button-primary mr-2">Create Sheet</button>
      <a href="/dashboard" class="button">Cancel</a>
      <input type="hidden" name="csrf" value="{{ @CSRF }}" />
    </form>
  </div>
</div>

<include href="templates/footer.html" />
