<include href="templates/header.html" />

<div class="page mx-auto max-w-180 px-4 py-8">
  <h1>Manage Users</h1>

  <p><a href="/admin">Back to Admin Dashboard</a></p>

  <check if="{{ @users }}">
    <true>
      <table class="mt-6 w-full border-collapse text-sm">
        <thead>
          <tr
            class="*:border-b-2 *:border-neutral-400 *:p-2 *:dark:border-neutral-600"
          >
            <th class="text-left">Email</th>
            <th>Confirmed</th>
            <th class="text-center">Admin</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <repeat group="{{ @users }}" value="{{ @user }}">
            <tr
              class="*:boeder-neutral-400 *:border-t *:p-2 dark:*:border-neutral-600"
            >
              <td class="wrap-anywhere">{{ @user.email }}</td>

              <td class="text-center">
                <check if="{{ @user.confirmed }}">
                  <true><i class="fa-sharp fa-regular fa-check"></i></true>
                  <false>—</false>
                </check>
              </td>

              <td class="text-center">
                <check if="{{ @user.is_admin }}">
                  <true>✓</true>
                  <false>—</false>
                </check>
              </td>

              <td>
                <a href="/dashboard?user_id={{ @user.id }}">View&nbsp;Sheets</a>
              </td>
            </tr>
          </repeat>
        </tbody>
      </table>
    </true>
    <false>
      <p>No users found.</p>
    </false>
  </check>
</div>

<include href="templates/footer.html" />
