<include href="templates/header.html" />


<div class="dashboard container container-slim">
    <h1>My Characters</h1>

    <check if="{{ @sheets }}">
        <false>
            <p>Nothing to see here. Create a character by clicking the link below.</p>
        </false>
    </check>

    <repeat group="{{ @sheets }}" value="{{ @sheet }}">
        <p><a href="/sheet/{{ @sheet.id }}">
            <check if="@sheet.name">
                <true>{{ @sheet.name }}</true>
                <false>Untitled Character</false>
            </check>
        </a></p>
    </repeat>

    <p><a href="/add-sheet" class="button-primary">Add a character sheet</a></p>

    <br><br>

    <h1>Settings</h1>

    <p>
        <label for="settingDarkMode">Dark Mode (experimental)</label>:
        <input id="settingDarkMode" type="checkbox">
    </p>

    <div class="account-actions">
        <p><a href="/logout">Logout</a></p>
    </div>
</div>

<include href="templates/footer.html" />