<include href="templates/header.html" />


<div class="dashboard container container-slim">
    <h1>My Characters</h1>

    <check if="{{ @sheets }}">
        <false>
            <p>Nothing to see here. Create a character by clicking the link below.</p>
        </false>
    </check>

    <ul id="sheet-list" class="sheet-list">
        <repeat group="{{ @sheets }}" value="{{ @sheet }}">
            <li class="row">
                <p>
                    <a href="/sheet/{{ @sheet.slug }}">
                        <check if="@sheet.name">
                            <true>{{ @sheet.name }}</true>
                            <false>Untitled Character</false>
                        </check>
                    </a>
                </p>
                
                <p>
                    <label>
                        Public
                        <input type="checkbox" data-sheet="{{ @sheet.slug }}" {{ @sheet.is_public ? 'checked' : '' }}>
                    </label>
                </p>
            </li>
        </repeat>
    </ul>

    <p><a href="/add-sheet" class="button-primary">Add a character sheet</a></p>
    
    <check if="{{ @sheets }}">
        <p>Making a character sheet public means that anyone with the link can view a read-only version of the character sheet.</p>
    </check>

    <br><br>

    <h1>Settings</h1>

    <p>
        <label for="settingDarkMode">Dark Mode (experimental)</label>:
        <input id="settingDarkMode" type="checkbox">
    </p>
    
    <input type="hidden" id="csrf" value="{{ @CSRF }}">

    <div class="account-actions">
        <p>
            <a href="/logout">Logout</a>
        </p>
    </div>

    <div class="support-me">
        <p>Made with love by <a href="https://www.blakewatson.com/">Blake Watson</a>.</p>
        <p>Buy me a coffee on <a href="https://ko-fi.com/L3L4WOIV">Ko-fi</a>.</p>
    </div>
</div>

<include href="templates/footer.html" />