<!doctype html>
<!-- prettier-ignore -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="og:title" content="Minimal Character Sheet" />
    <meta
      name="description"
      content="Your freeform character sheet for D&D 5e. Beatifully minimal. Perfect for standard and homebrew content alike."
    />
    <meta
      name="og:description"
      content="Your freeform character sheet for D&D 5e. Beatifully minimal. Perfect for standard and homebrew content alike."
    />
    <meta name="og:image" content="{{ @BASE }}/images/og-image.jpg" />
    <title>Minimal Character Sheet</title>

    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i"
    />
    <link href="{{ @BASE }}/css/vendor/quill.bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ @BASE }}{{ vite('css/app.css') }}" />

    <check if="{{ @lightbox ?? false }}">
      <link rel="stylesheet" href="{{ @BASE }}/css/vendor/baguetteBox.min.css" />
      <script src="{{ @BASE }}/js/lib/baguetteBox.min.js"></script>
    </check>

    <check if="{{ @font_awesome_kit_url }}">
      <script src="{{ @font_awesome_kit_url }}" crossorigin="anonymous"></script>
    </check>

    <script src="{{ @BASE }}/js/home.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script
      src="https://cdn.usefathom.com/script.js"
      site="YQHHCGPM"
      defer
    ></script>
    <!-- / Fathom -->
  </head>

  <!-- prettier-ignore -->
  <body class="font-mono overflow-x-hidden max-w-full text-light-foreground bg-light-background dark:text-dark-foreground dark:bg-dark-background">
    <div id="app">
