<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Your freeform character sheet for D&D 5e."
    />
    <meta name="og:image" content="{{ @BASE }}/images/og-image.jpg" />
    <title>Minimal character sheet</title>

    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="{{ @BASE }}/dist/reset.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,400i,700,700i"
    />
    <link href="{{ @BASE }}/dist/quill.bubble.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ @BASE }}/dist/style.css" />

    <check if="{{ @lightbox ?? false }}">
      <link rel="stylesheet" href="{{ @BASE }}/dist/baguetteBox.min.css" />
      <script src="{{ @BASE }}/js/baguetteBox.min.js"></script>
    </check>

    <check if="{{ @app ?? @dashboard ?? false }}">
      <link rel="stylesheet" href="{{ @BASE }}/dist/notyf.min.css" />

      <script
        src="https://kit.fontawesome.com/194df485cf.js"
        crossorigin="anonymous"
      ></script>
    </check>

    <script src="{{ @BASE }}/js/home.js"></script>

    <!-- Fathom - beautiful, simple website analytics -->
    <script
      src="https://cdn.usefathom.com/script.js"
      site="YQHHCGPM"
      defer
    ></script>
    <!-- / Fathom -->
  </head>

  <body></body>
</html>
