<include href="templates/header.html" />

<div class="container container-slim">
    <div class="inner content">
        <h1>a minimal character sheet for D&D 5e</h1>
        
        <p>It’s more convenient than PDFs, and more flexible than automated character sheets.</p>
        
        <h2>Features:</h2>
        
        <ul>
            <li>Calculates modifiers for abilities and skills</li>
            <li>Unassuming — no limits on what features your character has.</li>
            <li>Semi-rich textareas that allow links and light formatting.</li>
            <li>Important info is always a glance away.</li>
        </ul>
        
        <p>Example character sheet: <a href="https://minimalcharactersheet.com/sheet/ddwgHAxpnn">Willowmead, druid</a></p>
        
        <p>
            <a href="/register" class="button-primary">Register</a>
            <a href="/dashboard" class="button-secondary">Go to dashboard</a>
        </p>
    </div>
</div>

<include href="templates/footer.html" />