<include href="templates/header.html" />

<div class="container container-slim">
    <div class="inner content">
        <h1>a minimal character sheet</h1>
        <p>It’s more convenient than PDFs, and more flexible than automated character sheets.</p>
        <h2>Features:</h2>
        <ul>
            <li>Calculates modifiers for skills</li>
            <li>Unassuming — doesn’t enforce a lot of rules on what features your character has.</li>
            <li>Textareas that allow links and light formatting.</li>
            <li>Important info is always a glance away.</li>
        </ul>
        <p>
            <a href="/register" class="button-primary">Register</a>
            <a href="/dashboard" class="button-secondary">Go to my dashboard</a>
        </p>
    </div>
</div>

<include href="templates/footer.html" />