<include href="templates/header.html" />
    
    <div class="container container-center-center">
        <div class="inner">
            <h1>Reset Password</h1>
            
            <check if="{{ isset(@error_message) }}">
                <p>{{ @error_message }}</p>
            </check>
            
            <check if="{{ isset(@show_home_link) }}">
                <p><a href="/">Go back home</a></p>
            </check>
            
            <check if="{{ isset(@show_form) }}">
                <include href="templates/password-reset-form.html" />
            </check>
            
            <check if="{{ isset(@success) }}">
                <p>Successfully reset password. You may now <a href="/login">login with your new password</a>.</p>
            </check>
        </div>
    </div>
    
<include href="templates/footer.html" />