<form action="/password-reset" method="post">
    <p>
      <label for="pw1" class="label block">Password</label>
      <input type="password" id="pw1" name="pw1" class="field field-visible">
    </p>

    <p>
      <label for="pw2" class="label block">Confirm Password</label>
      <input type="password" id="pw2" name="pw2" class="field field-visible">
    </p>

    <input type="hidden" name="phone">
    <input type="hidden" name="email" value="{{ @email }}">
    <input type="hidden" name="clear_token" value="{{ @clear_token }}">
    <input type="hidden" name="csrf" value="{{ @CSRF }}">

    <p><button type="submit" class="button-primary">Save New Password</button></p>
</form>