<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Print - Minimal character sheet</title>

    <link rel="icon" href="/images/favicon.svg" type="image/svg+xml" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{{ @BASE }}/dist/gutenberg.min.css"
      media="all"
    />

    <link rel="stylesheet" href="{{ @BASE }}/dist/spacing.css" />
    <link rel="stylesheet" href="{{ @BASE }}/dist/print.css" />

    <script src="{{ @BASE }}/js/home.js"></script>
  </head>

  <body class="pt-md">
    <div id="print"></div>

    <input
      type="hidden"
      name="sheet_slug"
      id="sheet-slug"
      value="{{ @sheet_slug }}"
    />
    <input type="hidden" name="csrf" id="csrf" value="{{ @CSRF }}" />

    <check if="{{ @print ?? false }}">
      <script>
        window.sheet = "{{ @sheet | raw }}";
        window.characterName = "{{ @character_name | raw }}";
        window.is_2024 = {{ @is_2024 | raw }};
        document.title = `${window.characterName} - Minimal character sheet`;
      </script>
      <script src="{{ @BASE }}/dist/print.js"></script>
    </check>
  </body>
</html>
