<include href="templates/header.html" />

<div class="page mx-auto flex h-screen items-center justify-center p-4">
  <div class="w-full max-w-120">
    <h1>Register</h1>

    <check if="isset( @success_message )">
      <true>
        <p>{{ @success_message }}</p>
      </true>

      <false>
        <check if="isset( @error_message )">
          <p class="text-red-600 dark:text-red-400">{{ @error_message }}</p>
        </check>

        <form action="/register" method="post">
          <p>
            <label for="email" class="label block">Email</label>
            <input type="email" id="email" name="email" class="" />
          </p>

          <p>
            <label for="pw1" class="label block">Password</label>
            <input type="password" id="pw1" name="pw1" class="" />
          </p>

          <p>
            <label for="pw2" class="label block">Confirm Password</label>
            <input type="password" id="pw2" name="pw2" class="" />
          </p>

          <input type="hidden" name="phone" />
          <input type="hidden" name="csrf" value="{{ @CSRF }}" />

          <p>
            <button type="submit" class="button-primary">Create User</button>
            <a href="/" class="button">Cancel</a>
          </p>

          <p class="mt-16 text-center text-sm">
            Already have an account?
            <a href="/login">Log in instead</a>
          </p>
        </form>
      </false>
    </check>
  </div>
</div>

<include href="templates/footer.html" />
