<include href="templates/header.html" />

<div class="page mx-auto flex h-screen items-center justify-center p-4">
  <div class="w-full max-w-120">
    <h1>Reset Password</h1>

    <check if="{{ isset(@submitted) }}">
      <true>
        <check if="{{ isset(@error_message) }}">
          <true><p>{{ @error_message }}</p></true>

          <false>
            <p>Check your email for a link to reset your password.</p>
          </false>
        </check>
      </true>

      <false>
        <form action="/request-password-reset" method="post">
          <p>
            <label for="email" class="label block">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="w-full bg-neutral-100 px-2 py-1 dark:bg-zinc-800"
            />
          </p>

          <input type="hidden" name="username" />
          <input type="hidden" name="csrf" value="{{ @CSRF }}" />

          <p>
            <button type="submit" class="button-primary">Submit</button>
            <a class="button" href="/login">Cancel</a>
          </p>
        </form>
      </false>
    </check>
  </div>
</div>

<include href="templates/footer.html" />
